In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
#Connect to the pets DB
conn = sqlite3.connect("petsdb")

In [3]:
#Instantiate the cursor
cursor = conn.cursor()

In [7]:
#Find number of people in each unique age range
for people, age in cursor.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("Age: {}, Count of people {}".format(age, people))

Age: 5, Count of people 2
Age: 6, Count of people 1
Age: 7, Count of people 1
Age: 8, Count of people 3
Age: 9, Count of people 1
Age: 11, Count of people 2
Age: 12, Count of people 3
Age: 13, Count of people 1
Age: 14, Count of people 4
Age: 16, Count of people 2
Age: 17, Count of people 2
Age: 18, Count of people 3
Age: 19, Count of people 1
Age: 22, Count of people 3
Age: 23, Count of people 2
Age: 24, Count of people 3
Age: 25, Count of people 2
Age: 27, Count of people 1
Age: 30, Count of people 1
Age: 31, Count of people 3
Age: 32, Count of people 1
Age: 33, Count of people 1
Age: 34, Count of people 2
Age: 35, Count of people 3
Age: 36, Count of people 3
Age: 37, Count of people 1
Age: 39, Count of people 2
Age: 40, Count of people 1
Age: 42, Count of people 1
Age: 44, Count of people 2
Age: 48, Count of people 2
Age: 49, Count of people 1
Age: 50, Count of people 1
Age: 51, Count of people 2
Age: 52, Count of people 2
Age: 53, Count of people 2
Age: 54, Count of people 2
Age: 58, Count of people 1
Age: 59, Count of people 1
Age: 60, Count of people 1
Age: 61, Count of people 1
Age: 62, Count of people 2
Age: 63, Count of people 1
Age: 65, Count of people 2
Age: 66, Count of people 2
Age: 67, Count of people 1
Age: 68, Count of people 3
Age: 69, Count of people 1
Age: 70, Count of people 1
Age: 71, Count of people 4
Age: 72, Count of people 1
Age: 73, Count of people 5
Age: 74, Count of people 3

In [12]:
#Find the age group with the most people in it
for people, age in cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Age: {}, Count of people {}".format(age, people))
    break
#Uses break to only take the top record in the database as we have used the SQL query to order the results by the highest
#count.

Age: 73, Count of people 5

In [23]:
#Find the people without a last name
count = cursor.execute("SELECT COUNT(*) FROM persons WHERE last_name IS null")
for row in count:
    print(row)

(60,)

In [30]:
#Find the number of people who have more than one pet

#Join the two datasets and show the resulting dataframe then find the row count of the resulting dataframe
petsWithOwners = len(pd.read_sql_query("SELECT Id, owner_id, count(*) FROM persons INNER JOIN pets ON persons.Id = pets.owner_id GROUP BY Id HAVING count(*) > 1", conn).index)
petsWithOwners

#Used the Id, owner_id, count(*) fields as a way to verify that my query was working correctly before doing the row
#count of the dataframe

43

In [35]:
#Find the number of pets that have had treatment done
petsWithTreatment = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1")
for row in petsWithTreatment:
    print(row)

(36,)

In [36]:
#Find the number of pets that have had treatment done and where we know the type of pet
petsWithTreatment = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1 AND pet_type IS NOT NULL")
for row in petsWithTreatment:
    print(row)

(16,)

In [51]:
#Find the number of pets that live in east port
eastPets = cursor.execute("SELECT COUNT(*) FROM pets JOIN persons ON pets.owner_id = persons.Id WHERE persons.city = 'east port'")
for row in eastPets:
    print(row)

(49,)

In [52]:
#Find the number of pets that live in east port and recieved treatment
eastPetsTreated = cursor.execute("SELECT COUNT(*) FROM pets JOIN persons ON pets.owner_id = persons.Id WHERE persons.city = 'east port' AND treatment_done = 1")
for row in eastPetsTreated:
    print(row)

(11,)